<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
   <section>
      <div class="container">
      <div class="row">
         <div class="col-md-12">
           <div class="card">
             <div th:if="${session.msg}" th:classappend="${session.msg.type}"
						class="alert alert-dismissible fade show" role="alert">
						<p class="text-center" th:text="${session.msg.content}"></p>
						<th:block th:text="${#session.removeAttribute('msg')}">
							</th>
					</div>
               <div class="card-body">
               <h1 class="text-center mb-3">Change Password</h1>
               <form th:action="@{/user/change}" method="post">
                <!-- Old passWord Field -->
                
                <div class="mb-3">
                <input type="password" class="form-control" placeholder="Enter Old Password" required name="old">
                </div>
                <!-- New PassWord -->
                 <div class="mb-3">
                <input type="password" class="form-control" placeholder="Enter New Password" required name="new">
                </div>
                <div class="container text-center">
                   <button type="submit" class="btn btn-success">Change</button>
                   
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>             
                
               </form>
               </div>
           </div>
         </div>
      </div>
      </div>
   
   
   
   
   
   
   
       <script>
     $(document).ready(()=>{
    	$(".item").removeClass("active");
    	$("#setting").addClass("active");
     });
    </script>
   </section>   
	
</body>
</html>