<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	 <section>
      <div class="container mt-5">
			<div class="row">
			   <div class="col-md-6 offset-md-3">
			      <div class="col-md-12">
			         <div class="card mt-5">
			           <div class="card-body">
			           
			           <div id="login" style="height: 200px;">
			           <h1 class="text-center">Change Password </h1>
			           <form class="mt-5" th:action="@{/changepass}" method="post">
			           <label for="new">Enter New Password</label>
			           <input type="text" id="new" required name="newpass" placeholder="Enter New Password" class="form-control" >
			           <div class="container text-center mt-3">
			           <button type="submit" class="btn btn-primary">Chnage Password</button>
			           </div>
			           </form>
			           </div>
			           </div>
			         </div>
			      </div>
			   </div>
				
		   </div>
	 </div>
	</section>
	</section>
</body>
</html>